async-generator
attrs
autopep8
backcall
backports.entry-points-selectable
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
cryptography
cycler
Cython
debugpy
decorator
deprecation
distlib
docutils
et-xmlfile
filelock
Flask
Flask-Cors
Flask-SQLAlchemy
future
greenlet
h11
idna
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
MouseInfo
mpmath
nbformat
nest-asyncio
nnfs
numba
numpy
opencv-python
openpyxl
outcome
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
PyAutoGUI
pycodestyle
pycparser
pygame
PyGetWindow
Pygments
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
pypiwin32
PyRect
pyrsistent
PyScreeze
python-dateutil
pytweening
pytz
pywin32
PyYAML
pyzmq
requests
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sympy
toml
tornado
traitlets
trio
trio-websocket
turtle
urllib3
virtualenv
wcwidth
webencodings
Werkzeug
wsproto
